langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
PyMuPDF
Wikipedia
langchain-text-splitters
python-dotenv
langchain_openai 
openai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
